.Menu_lateral{
	background-color: #fff;
	width: 100%;
	font-size: 24px;	
}

.Menu_lateral .columna{
	margin: 0px !important;
	padding: 0px !important;	
}

.Menu_lateral .menuItem{	
	width: 100%;	
	text-align: center;
	color: #000;
}

.Menu_lateral .menuItem:hover{	
	text-decoration: underline;
}